
    <div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
      <mat-toolbar color="primary" class="example-toolbar">
        <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
        <h1 class="example-app-name">Distribuidora App</h1>
        <span class="example-toolbar-spacer"></span>

        <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
          <button mat-icon-button color="warn" (click)="auth.logout({ logoutParams: { returnTo: document.location.origin } })">
            <mat-icon>exit_to_app</mat-icon>
          </button>
        </ng-container>
    
        <ng-template #loggedOut>
          <button mat-icon-button color="accent" (click)="auth.loginWithRedirect()">
            <mat-icon>login</mat-icon>
          </button>
        </ng-template>

      </mat-toolbar>
  
      <mat-sidenav-container class="example-sidenav-container"
                            [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
       <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
            [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">

          <mat-nav-list *ngIf="habilitarAdmi || habilitarVendedor">
            <a mat-list-item routerLink="/cliente">Cliente</a>
            <a *ngIf="habilitarAdmi" mat-list-item routerLink="/vendedor">Vendedor</a>
            <a mat-list-item routerLink="/pedido">Pedido</a>
            <a mat-list-item routerLink="/producto">Producto</a>
            <a *ngIf="habilitarAdmi" mat-list-item routerLink="/usuario">Usuario</a>


          </mat-nav-list>
        </mat-sidenav> 
        <mat-sidenav-content>   
          <div *ngIf="habilitarAdmi || habilitarVendedor">
            <router-outlet> </router-outlet>
          </div>
           
        </mat-sidenav-content>
    
      </mat-sidenav-container>
    </div>
  
