table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  section {
    display: table;
    margin-left: 2rem;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    max-width: 600px;
   
  }
  .example-button-row button {
    margin-left: 2rem;
  }
  
  .example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }
  body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 30px;
  }
  
  html, body {
    height: 100%;
  }
  .example-card {
    max-width: 800px;
  }
  .form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    width: 48%; 
    margin-bottom: 1rem; 
  }
  ::ng-deep .mat-snack-bar-container {
  min-height: 60px;
  font-size: 16px; 
  line-height: 24px;
  }
  .custom-snackbar {
  background-color: #4caf50;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  }
  .button-agregar {
    margin-top: 10px;
  }
  
  .formulario-container {
    display: flex;
    flex-direction: column;
  }
  
  .form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .form-column {
    flex: 1;
    margin-bottom: 1rem;
    margin-right: 2rem;
  }
  
  .full-width {
    width: 100%;
  }